<%- include('partials/header'); %>
<h3 class="movieposth1">Related to your Searches-</h3>
<div class="suggested-movies container">

  <div class="grid-item">
    <div class="grid-item-content">
      <button class="image-button" type="submit" name="button">
        <img src="/images/img3.jpg.jpg" class="recommended-movies-img" width="330px" height="300px" alt="">
        <div class="overlay">
          <div class="moviename">
            Moviename
          </div>
          <div class="movieyear">
            (2021)
          </div>
        </div>
      </button>
    </div>
  </div>

  <div class="grid-item">
    <div class="grid-item-content">
      <button class="image-button" type="submit" name="button">
        <img src="/images/img3.jpg.jpg" class="recommended-movies-img" width="330px" height="300px" alt="">
        <div class="overlay">
          <div class="moviename">
            Moviename
          </div>
          <div class="movieyear">
            (2021)
          </div>
        </div>
      </button>
    </div>
  </div>

  <div class="grid-item">
    <div class="grid-item-content">
      <button class="image-button" type="submit" name="button">

        <img src="/images/img3.jpg.jpg" class="recommended-movies-img" width="330px" height="300px" alt="">
        <div class="overlay">
          <div class="moviename">
            Moviename
          </div>
          <div class="movieyear">
            (2021)
          </div>
        </div>
    </div>
    </button>

  </div>
</div>


<div class="suggested-movies container">
  <div class="grid-item">

    <div class="grid-item-content">
      <button class="image-button" type="submit" name="button">

        <img src="/images/img3.jpg.jpg" class="recommended-movies-img" width="330px" height="300px" alt="">
        <div class="overlay">
          <div class="moviename">
            Moviename
          </div>
          <div class="movieyear">
            (2021)
          </div>
        </div>
      </button>

    </div>
  </div>

  <div class="grid-item">
    <div class="grid-item-content">
      <button class="image-button" type="submit" name="button">

        <img src="/images/img3.jpg.jpg" class="recommended-movies-img" width="330px" height="300px" alt="">
        <div class="overlay">
          <div class="moviename">
            Moviename
          </div>
          <div class="movieyear">
            (2021)
          </div>
        </div>
      </button>

    </div>
  </div>

  <div class="grid-item">
    <div class="grid-item-content">
      <button class="image-button" type="submit" name="button">

        <img src="/images/img3.jpg.jpg" class="recommended-movies-img" width="330px" height="300px" alt="">
        <div class="overlay">
          <div class="moviename">
            Moviename
          </div>
          <div class="movieyear">
            (2021)
          </div>
        </div>
    </div>
    </button>

  </div>
</div>


<%- include('partials/footer'); %>
